*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore

# Web / Next.js
web/node_modules
web/.next
web/.env.local
web/out
