# Google OAuth Credentials for Optimum
NEXT_PUBLIC_GOOGLE_CLIENT_ID=859090591444-gks1ocsevkb8kdcltbeoe24gi5lbo3pd.apps.googleusercontent.com
NEXT_PUBLIC_WEB_URL=https://optimum-gilt-five.vercel.app

# Neon PostgreSQL Connection String
DATABASE_URL=postgresql://neondb_owner:npg_mz0pdnOHZ5SD@ep-soft-voice-ave6pb09-pooler.c-11.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
